.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

#pokemonDetail{
    width: 0;
    height: 100%;
    background-color: #202020;
    color: #fff;
    border-right: solid 0.3rem #ee7f30;
    position: fixed;
    top: 0;
    left: 0;
    
    overflow: hidden;
    transition: 0.5s;
}

#pokemonDetail.expandir{
    width: 80%;
    z-index: 999; /* Coloca o botão acima de outros elementos */
    
    
}

nav svg{
    margin: 1rem;
    background-color: black;
    color: #ee7f30;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    border: solid black 0.12rem;
    position: relative;
    left: 5rem;
    transition: 0.7s;
    opacity: 0;
}

#pokemonDetail.expandir svg{
    margin: 1rem;
    background-color: black;
    color: #ee7f30;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    border: solid black 0.12rem;
    position: absolute;
    left: 0;
    opacity: 1;
}

.pokemonDetailsHTML{
    color: #FFF;
    position: absolute;
    top: 5rem;
    left: 3rem;
    transition: 0.7s;
    opacity: 0;
    white-space: nowrap;
    font-size: 65%;
    text-align: center;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    height: 2rem;
    max-height: 2rem;
}

#pokemonDetail.expandir .pokemonDetailsHTML{
    left: 0;
    opacity: 1;
    font-size: 100%;
}


#pokemonNumber{
    position: relative;
    top: -5rem;
    left: 39%;
    padding: 1rem;
    margin: -0.5rem 0rem 0rem 0rem;
}

#pokemonImage{
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 1.12rem;
    max-height: 13rem;
}

#pokemonName{
    padding: 1rem;
    margin: auto;
    max-width: 100%;
    text-transform: capitalize;
    text-align: center;
    background-color: #a8b720;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.2rem;
}
#pokemonType{
    padding: 1rem;
    margin: auto;
    max-width: 100%;
    text-transform: capitalize;
    text-align: center;
    background-color: #a8b720;
    display: flex;
    flex-direction: column;
}










/* Estilo para a sobreposição */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo transparente com uma leve opacidade */
    z-index: 999; /* Coloque o elemento de sobreposição acima de outros elementos */
    display: none; /* Inicialmente oculto */
}



@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}